@using hmwk_for_3._27.Models
@using Data
@model SimchaViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Simchas</h2>
<div id="simchas">
    <button id="new-simcha" class=" btn btn-warning">New Simcha</button>
    <table class="table table-bordered">
        <tr>
            <th>Contributions</th>
            <th>Simcha Name</th>
            <th>Contributor Count</th>
            <th>Total</th>
            <th>Date</th>
        </tr>
        @if (Model != null)
        {
            foreach (Simcha s in Model.Simchas)
            {
                <tr>
                    <td><a href="/home/contributions?id=@s.Id" class="btn btn-success">Contributions</a></td>
                    <td>@s.Name</td>
                    <td>@s.TotalContributors / @Model.ContributorCount</td>
                    @if (s.TotalContributions == null)
                    {
                        <td>0.00</td>
                    }
                    else
                    {
                        <td>@s.TotalContributions</td>
                    }
                    <td>@s.Date</td>
                </tr>
            }
        }

    </table>
</div>

<div class="modal col-md-4 col-md-offset-3" id="addSimchaModal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">New Simcha</h4>
        </div>
        <div class="modal-body">
            <form method="post" action="/home/submitsimcha">
                <h2>New Simcha</h2>
                <h3>Simcha Name</h3>
                <input type="text" name="name" placeholder="Simcha Name" />
                <h3>Date</h3>
                <input type="date" name="date" />


                <button name="submitsimcha" class="btn btn-primary">Save</button>
            </form>


        </div>
    </div>
</div>

@section scripts {
    <script>
    </script>
    <script src="/Scripts/index.js"></script>
}
